@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.estquestion-Wrapper {
  position: relative;
  right: 140px;
  background-image: url(../img/EstStart-img2.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.966);
  /* background-position-x: -100px;
  background-position-y: 0px; */
  background-position-y: 700px;
  width: 600px;
  height: 600px;
  margin: 100px auto ;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 19px rgb(157, 157, 157);;
}


.estquestion-Title {
  font-size: 30pt;
  margin: 35px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "RIDIBatang";
}

.ProgressBar {
  background-color: rgba(206, 68, 68, 0) ;
}

.progress-bar {
  background-color: rgb(51, 51, 51);
}

.estquestion-progressbox {
  margin: 30px;
}

.estquestion-QBtn {
  width: 30%;
  min-height: 10px;
  font-size: 15pt;
  margin-top: 25px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  background: linear-gradient(rgb(51, 51, 51) 0 0) no-repeat
    calc(200% - var(--i, 0) * 100%) 100% / 200%
    calc(100% * var(--i, 0) + 0.08em);
  transition: 0.3s calc(var(--i, 0) * 0.2s),
    background-position 0.3s calc(0.3s - calc(var(--i, 0) * 0.3s));
}
.estquestion-QBtn:hover {
  --i: 1;
  color: white;
  border-radius: 5px;
}

.estquestion-ButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "RIDIBatang";
}






