
.estresult-Wrapper{
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.678),
        rgba(255, 255, 255, 0.678)
        ),url(../img/QuestionImg-5.JPG);
        background-size: cover;
        background-position-x: -100px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 600px;
    margin: 100px auto;
    border-radius: 5px;
    position: relative;
    right: 140px;
    border: 1px solid rgb(255, 255, 255);
    -webkit-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.47); 
    box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.47);
}

.estresult-Header{
    position: relative;
    bottom: 320px;
    margin-top: 337px;
    font-family: 'Humanbumsuk';
    font-size: 40pt;
    display:flex;
    justify-content: center;
    align-items: center;
}

.estresult-Contents{
    position: relative;
    bottom: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estresult-Title{
    font-family: 'Humanbumsuk';
    font-size: 30pt;
    margin-top: 20px;
}

.estresult-LogoImage{
    margin-top: 0px;
}

.estresult-Desc{
    position: relative;
    bottom: -100px;
    font-family: 'Humanbumsuk';
    font-size: 25pt;
    margin-top: 0px;
}

.estresult-ReBtn{
    font-size: 25px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.7); 
    box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.7);
    position: relative;
    bottom: -200px;
}

.estresult-ReStartBtn{
    font-family: 'Humanbumsuk';
    width: 100%;
    min-height: 70px;
    font-size: 15pt;
    font-weight: bolder;
    margin-top: 0px;
    border: none;
    --c: no-repeat linear-gradient(#4d4d4d 0 0);
    background: 
      var(--c) calc(-101% + var(--i,0)*101%) 100% / 50.1% calc(100%*var(--i,0) + .08em),
      var(--c) calc( 201% - var(--i,0)*101%) 0    / 50.1% calc(100%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - var(--i,0)*.3s);
}

/* .estresult-ReStartBtn:hover {
    --i: 1;
    color: white;
    border: 1px solid white;
} */



  .estresult-Reciept-box{
    z-index: 13 !important;
    position: relative;
    top: 130px;
    left: 551px;
    margin-left: 105px;
    margin-top: -220px;
    clear: right;
    width: 240px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75); */
}






