.receipt{
    position: relative;
    bottom: 597px;
    left: 550px;
    width: 250px;
    height: 500px;
    background-color: rgb(255, 250, 244);
    margin: 150px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Humanbumsuk";
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}
.State-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    position: absolute;
    border: none;
    border-bottom: 2px solid #366360;
    width: 90%;
    height: 50px;
    bottom: 440px;
}
.checklist{
    position: relative;
    top: 35px;
}


