@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.eststart-Wrapper{
    z-index: 12 !important;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 550px;
    margin: 100px auto;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    -webkit-box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.47); 
    box-shadow: 7px 8px 5px 1px rgba(0,0,0,0.47);
    display: flex;
    flex-direction: row;
    justify-content:end
    
}

.eststart-img{
    z-index: 10 !important;
    position: absolute;
    bottom: 80px;
    left: 30px;
    background-image: url(../img/EstStart-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.7); 
    box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.7);
    width: 300px;
    height: 400px;
}

.eststart-imgText{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -350px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    font-family: 'Humanbumsuk';
    height: 50px;
}

.eststart-backColor{
    z-index: 9 !important;
    background-color: rgb(161, 161, 161);
    position: absolute;
    left: 2px;
    bottom: -1px;
    width: 250px;
    height: 550px;
}

.eststart-Header{
    z-index: 13 !important;
    font-family: 'Humanbumsuk';
    font-size: 40pt;
    display:flex;
    justify-content: end;
    align-items: center;
}

.eststart-Contents{
    margin-right: 25px;
    z-index: 13 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.eststart-Title{
    z-index: 13 !important;
    font-family: 'Humanbumsuk';
    font-size: 30pt;
    margin-top: 40px;
}

.eststart-LogoImage{
    z-index: 11 !important;
    margin-top: 10px;
}

.eststart-StartBtnBox{
    display: flex;
    justify-content: end;
}

.eststart-StartBtn{
    z-index: 12 !important;
    font-family: 'Humanbumsuk';
    width: 150px;
    height: 50px;
    font-size: 25px;
    border: none;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.7); 
    box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.7);
}
.PrgressBar {
    margin-top: 30px;
}
.progress-bar{
    background-color: #366360;
}