.Card-Title1{
    font-size: 20px;
    transform: translate(-37.5%, 30%);
    position: relative;
    top: 300px;
    left: 50px;
  }

  .homeportfoliocard-card-main{
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.637);
    background-color: rgba(214, 30, 30, 0);
    border: 1px solid red;
  }


.homeportfoliocard-img-map{
    margin-left: 10px;
    margin-right: 10px;
    height: 50vh;
}





  .Card-Title2{
    font-size: 20px;
    transform: translate(-36%, 30%);
  }
  .Card-Text2{
    margin-top: -30px;
    font-size: 70px;
    transform: translate(-26%, 30%);
  }
  .Card-Text2-2{
    font-size: 24px;
    transform: translate(-25.5%, 30%);
  }
  
  .Card-Title3{
    font-size: 20px;
    transform: translate(-35%, 30%);
  }
  .Card-Text3{
    margin-top: -30px;
    font-size: 70px;
    transform: translate(-30%, 30%);
  }
  .Card-Text3-2{
    font-size: 24px;
    transform: translate(-24.5%, 30%);
  }
  .homeportfoliocard-card-main >img{
    height: 40vh;
}
