@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin:0;
    font-family:Georgia;
    overflow-y: hidden;
  }
  #home-container .home-box {
    width:100vw;
    height:100vh;
    display:inline-block;
    position:relative;
  }
  #home-container .home-box > div {
    width:100px;
    height:100px;
    font-size:96px;
    color:#FFF;
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px 0 0 -50px;
    line-height:.7;
    font-weight:bold;
  }
  #home-container {
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    position:absolute;
    width:100vh;
    height:100vw;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  #home-container::-webkit-scrollbar {
    display: none;
  }
  
  #home-container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space:nowrap;
    font-size:0;
    width: 100vw;
  }
  
  
  .one {
    background-image: url(../img/backgroundImg1.jpg);
    background-size: cover;
  }
  .two {
    /* background-image: url(../img/backgroundImg2.jpg); */
    background-image: url(../img/test1.jpg);
    background-size: cover;
    position: relative;
  }
  .three {
    background-image: url(../img/backgroundImg3.jpg);
    background-size: cover;
  }

.home-arrow-title{
  position: absolute;
  display: inline-block;
  margin-top: 200px;
  bottom: 40px;
  left: -7px;
  font-size: 25px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}
.home-arrow-container{
  position: fixed;
  z-index:11; /*숫자가 클수록 앞에 옴*/
  bottom: -385px;
  left: 180px;
}

/* 화살표 */


.center-con {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}



.round {
  position: absolute;
  width: 40px;
  height: 40px;
  
}

#cta{
  width:100%; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:-7px; width: 20px; height: 20px; background-size: contain; top:15px;}
.segunda{margin-left: 10px;}
.next {
background-image: url("../img/arrow.png");
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.9);}
26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
/* 화살표 끝 */





  .home-logo{
    position:fixed;
    left: 100px;
    top: 40px;
    /*margin-left: -830px;*/
    /*margin-top: -700px;*/
}

  .home-scroll-txt{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);

  }

  /* 스크롤 슬라이드*/
  html {
    scroll-behavior: smooth;
  }
  .outer {
    width: 100vh;
    overflow-y: auto;
  }

  .home-slick-position1{
    position: absolute !important; 
    top: 300px !important; 
    left: 13% !important; 
  }
  .home-slick-position2{
    position: absolute !important; 
    top: 300px !important; 
    left: 900px !important; 
  }

  .homeportfoliocard-card-main{
    background-color: red;
  }
  .homecontactus-cp-p{
    font-size: 13px;
    font-weight: lighter;
    position: relative;
    left: 1245px;
    top: 0px;
    width: 500px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
  }

  @media screen and (max-width: 1440px),(max-height: 789px) {
    .home-logo{
      position:fixed;
      left: 90px;
      top: 30px;
      width: 180px;
    }
    .home-arrow-container{
      position: fixed;
      z-index:11; /*숫자가 클수록 앞에 옴*/
      bottom: -325px;
      left: 180px;
    }
    .home-arrow-title{
      position: absolute;
      display: inline-block;
      margin-top: 200px;
      bottom: 35px;
      left: -6px;
      font-size: 20px;
      color: white;
      font-family: 'Noto Sans KR', sans-serif;
    }
    .arrow{
      width: 15px; 
      height: 15px;
    }
    
    .homecontactus-cp-p {
      font-size: 12px;
      font-weight: lighter;
      position: relative;
      left: 850px;
      top: -0px;
      width: 500px;
      font-family: 'Noto Sans KR', sans-serif;
      color: rgb(255, 255, 255);
    }
}