/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    float: right;
    top: 70px;
    margin-right: 70px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #c7c7c7;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background:  #ffffff6e;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 30%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #1b1b1b;
    opacity: 100%;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: grid;
    margin: -5px;
    align-content:flex-start;

  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size: 34px;
    margin-bottom: 70px !important;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  /* Individual item */
.bm-item {
    display: inline-block;
  
    color: white;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }

  .homenamebox{
    width: 350px;
    margin-top: 10px;
  }
  .home-mypagebtn{
    background-color: #1b1b1b00;
    color: white;
    border: none;
    float: left;
    clear: both;
  }
  .homename{
    position: relative;
    top: 15px;
    font-size: 20px;
    float: left;
    clear: both;
  }

  .homeLogin-Btn{
    position: relative;
    left: 225px;
    width: 100px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.815);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center  !important;
  }
  .homeLogout-Btn{
    position: relative;
    left: 90px;
    width: 100px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.815);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center  !important;
  }
  

  
  .hometext1:hover{
    color: rgb(156, 156, 156);
    transition: 0.5s;
  }
  .hometext2:hover{
    color: rgb(156, 156, 156);
    transition: 0.5s;
  }
  .hometext3:hover{
    color: rgb(156, 156, 156);
    transition: 0.5s;
  }