*{
    /*글씨체*/

}

.homeaboutus-Box{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 80px;
    margin-top: -140px;
    position: fixed;
    
}
.homeaboutus-title{
    font-size: 100px;
    font-weight: bold;
 
}
.homeaboutus-info{

}
.homeaboutus-info2{

}

