@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{
    /*글씨체*/

}

.homeaboutus-Box{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -140px;
    position: relative;
    left:350px;
    width: 400px;
}
.homeaboutus-title{
    font-size: 100px;
    font-weight: bold;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;

}
.homeaboutus-info{
    position: relative;
    right: 316px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 20px;
    font-weight: lighter;
}
.homeaboutus-info2{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
    font-weight: lighter;
}

.homeaboutus-company{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 15px;
    font-weight: lighter;
}

@media screen and (max-width: 1440px),(max-height: 789px) {
    .homeaboutus-Box{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: -110px;
        position: relative;
        left:200px;
        width: 400px;
    }
    .homeaboutus-title{
        font-size: 80px;
        font-weight: bold;
        position: relative;
    }
    .homeaboutus-info{
        position: relative;
        right: 155px;
        font-size: 24px;
        margin-top: 10px;
    }
    .homeaboutus-info2{
        position: relative;
        font-size: 24px;
        margin-top: 3px;
    }
    
    .homeaboutus-company{
        position: relative;
        font-size: 24px;
        margin-top: 10px;
    }
}