@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
.homeportfolio-com {
  width: 90vw;
  height: 600px;
  bottom: 20px;
}

.homeportfolio-com img {
  margin-top: 30px;
  width: 700px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  filter: brightness(80%);
  z-index: 998 !important;
}

.homeportfolio-name {
  margin: 0;
  padding: 0;
  font-size: 22px !important;
  font-weight: lighter;
  z-index: 999 !important;
  position: relative;
  bottom: 30px;
  left: 35px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Noto Sans KR", sans-serif;
}

.homeportfolio-imgDiv {
  padding-left: 30px;
  padding-right: 30px;
}

.homeportfolio-info {
  font-family: "twayair";
  position: relative;
  font-size: 55px;
  left: 1075px;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.863);
}
.homeportfolio-info-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 10px #0f0f0f70;
}

@media screen and (max-width: 1440px), (max-height: 789px) {
  .homeportfolio-com{
    margin-left: 65px;
    margin-top: 30px;
    width: 80vw;
  }

  .homeportfolio-com img {
    position: relative;
    left: 20px;
    margin-top: -10px;
    width: 520px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    filter: brightness(75%);
  }
  .homeportfolio-info {
    font-family: "twayair";
    position: relative;
    font-size: 40px;
    left: 792px;
    bottom: 40px;
  }
  .homeportfolio-info-title {
    position: relative;
    right: 185px;
    bottom: 8px;
    font-size: 1.6em;
  }
}

@media screen and (max-width: 420px){
  .homeportfolio-info{
    font-size: 20px;
    margin: 0;
    margin-left: 100px;
    left: 120px;
  }

  .homeportfolio-com{
    margin: 0;
    margin-left: 20px;
    width: 80vh;
  }
.homeportfolio-info-title{
  margin-top: -20px;
}
  .homeportfolio-map-div{
    width: 20%;
  }
  
  .homeportfolio-map-div img{
    width: 300px;
    height: 230px;
    margin: 0;
  }

}