.homecontactus-letter {
    text-align: left;
    margin-top: 350px;
    margin-left: -740px;
  }
  
  .homecontactus-title {
    margin-top: -80px;
    margin-left: -740px;
    font-size: 100px;
    font-weight: bold;
  }
  .homecontactus-button {
    margin-top: 120px;
    margin-left: -550px;
    padding: 45px 100px 40px 100px;
    font-size: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
  }
  .homecontactus-button:hover {
    background-color: white;
    color: black;
  }
  
  .homecontactus-middletitle {
    font-size: 15px;
    margin-top: -250px;
    margin-left: 15px;
  }
  
  .homecontactus-form {
    margin-left: 250px;
    margin-top: -500px;
    font-size: 50px;
  }
  
  .homecontactus-formlable {
    display: table-cell;
    width: 170px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.2pt;
    padding: 7px 20px;
    box-sizing: border-box;
    vertical-align: top;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
  .homecontactus-forminput {
    float: left;
    size: 10px;
    font-size: 30px;
    padding: 8px 5px;
    background: transparent;
    border: 0;
    box-sizing: border-box;
  }
  .homecontactus-checkbox {
    font-size: 20px;
    text-decoration: dashed;
  }