*{
    /*글씨체*/

}

.homeaboutus-Box{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -140px;
    position: fixed;
    
}
.homeaboutus-title{
    font-size: 100px;
    font-weight: bold;
    position: fixed;
    left: 1110px;

}
.homeaboutus-info{
    position: fixed;
    margin-top: 120px;
    left: 860px;

}
.homeaboutus-info2{
    position: fixed;
    margin-top: 170px;
    left: 1157px;
}

.homeaboutus-company{
    position: fixed;
    margin-top: 210px;
    left: 1295px;
}