

input:focus{
  outline: none;
}

/* .homecontactus-titleBox{
  width: 550%;
  position: relative;
  right: 700px;
}

.homecontactus-letter {
    text-align: left;
    margin-top: 350px;
  }
  
  .homecontactus-title {
    margin-top: 0px;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
  } */

.homecontactus-button-one{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homecontactus-button-one:before:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


      button {
        width: 270px;
        height: 60px;
        border: none;
        background: #b3aeae85;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 700px;
        top: 500px;
      }
      

       button::before,
      button::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: rgb(0, 0, 0);
        transition: width 1s ease-in-out;
      }

      button:before {
        
        top: 0;
        left: 0;
      }

      button:after {
        
        bottom: 0;
        right: 0;
      }

      button:hover:before,
      button:hover:after {
        width: 100%;
      }

      .letters {
        width: 50px;
        height: 1px;
        perspective: 600px;
      }

      .card {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s ease-in-out;
        transform-style: preserve-3d;
      }

      .card_face {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 600;
      }

      .back {
        transform: rotateY(180deg);
      }

      button:hover .card {
        transform: rotateY(180deg);
      }


  /* .homecontactus-button {
    margin-top: 120px;
    margin-left: -550px;
    padding: 45px 100px 40px 100px;
    font-size: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
  } */
  .homecontactus-button:hover {
    background-color: white;
    color: black;
  }
  
  .homecontactus-middletitle {
    font-size: 20px;
    margin-top: -250px;
    margin-left: 15px;
  }
  
  .homecontactus-formBox{
    display: flex;
    text-align: center;
    width: 100vw;
    margin-top: -330px;
    margin-left: -450px;
  }

  .homecontactus-form {
    font-size: 50px;
    width: 100%;
  }

  .homecontactus-formdiv{
    margin: 30px;
  
  }
  
  .homecontactus-formlable {
    width: 170px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.2pt;
    padding: 7px 0px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    margin-right: 30px;
  }
  .homecontactus-forminput {
    display: inline-block;
    size: 10px;
    font-size: 30px;
    padding: 10px 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color:rgba(255, 255, 255, 0.8);
  }
  .homecontactus-checkbox {
    font-size: 20px;
    text-decoration: dashed;
    margin: 50px 0 20px 0px;
    padding: 0 15px 0  15px;

  }
  #homecontactus-input{
    display: inline-block;
  }

  .homecontactus-checkdiv{
    display: flex;
    justify-content: center;
    margin-right: 300px;
    padding-left: 25px;
  }
.homecontactus-Btn{
  margin-top: 30px;
}
