/* 자체 css (사용중)*/
.joinForm_formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}
/* 자체 css (사용중)*/
.joinForm_input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid lightblue;
}


.join-name_input{
    height: 60px;
    color: #291b0b;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #291b0b7a;
}
.join-email_input{
    height: 60px;
    color: #291b0b;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #291b0b7a;
}
.join-password_input{
    height: 60px;
    color: #291b0b;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #291b0b7a;
}

.join-app-joinForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
}

.join-joinForm_form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    border: 1px solid #291b0b7a;
    border-width: 1px;
}

.join-joinForm_h1{
    color: #291b0b;
    text-align: center;
    margin-top: 25px;
}



.join-joinForm_btn{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color:#ece4db;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    transition: 0.5s;
} 
.join-joinForm_btn:hover{
    transition: 0.5s;
    background-color: #291b0b;
    color: white;
}

  /* 버튼 비활성화일때 회색 */
.join-joinForm_btn:disabled{
    background-color: rgba(172, 172, 172, 0.281);
    color: white;
}
.join-errorMessage{
    color: red;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    text-align: center;
}




/* 
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
  
      
    
  }
  
  form{
      background-color: white;
      padding: 0px 60px;
      border-radius: 10px;
      border-style: solid ;
      border-color: lightblue;
      border-width: 1px;
  }
  
  h1{
      color: lightblue;
      text-align: center;
      margin-top: 25px;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color:lightblue ;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  } */ 