/* 자체 css (사용중)*/
.joinForm_formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}
/* 자체 css (사용중)*/
.joinForm_input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid lightblue;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


.join-joinForm_h1{
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 40px;
}

.join-name_input{
    height: 50px;
    color: #291b0b;
    margin-top: 10px;
    padding: 15px;
    border: none;
}
.join-email_input{
    height: 50px;
    color: #291b0b;
    margin-top: 10px;
    padding: 15px;
    border: none;
}

.join-password_input{
    height: 50px;
    color: #291b0b;
    margin-top: 10px;
    padding: 15px;
    border: none;
}
.join-qustion{
    width: 400px;
    height: 50px;
    border: none;
    font-weight: 300;
    margin-top: 15px;
    color: #291b0b;
    padding-left: 10px;
}
select:focus {outline:none}

.join-app-joinForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(241, 238, 235);
}

.join-joinForm_form{
    background-color: white;
    padding: 0px 60px;

    border-width: 1px;
    width: 500px;
    height: 770px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.join-joinForm_h1{
    color: #291b0b;
    text-align: center;
    margin-top: 25px;
    margin-left: 80px;
}
.join-joinForm_h1backimg{
    position: relative;
    left: -20px;
    width: 100px;
}

.join-joinForm_emailBox{
    display: flex;
    border-bottom: 1px solid #291b0b7a;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-joinForm_emailBox_2{
    display: flex;
    border-bottom: 1px solid #291b0b7a;
    margin-bottom: 30px;
}
.join-joinForm_emailimg_1{
    position: relative;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
    width: 20px;
    height: 20px;
}
.join-joinForm_emailimg_2{
    position: relative;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
    width: 20px;
    height: 20px;
}
.join-joinForm_emailimg_3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
    width: 20px;
    height: 20px;
}


.join-joinForm_btn{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color:#ece4db;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
    transition: 0.5s;
} 
.join-joinForm_btn:hover{
    transition: 0.5s;
    background-color: #291b0b;
    color: white;
}

  /* 버튼 비활성화일때 회색 */
.join-joinForm_btn:disabled{
    background-color: rgba(172, 172, 172, 0.281);
    color: rgb(255, 255, 255);
}
.join-errorMessage{
    color: red;
    margin-top: 5px;
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* 체크박스 */
#wrapper {
    display: inline-block;
    padding: 8px 12px;
    width: 400px;
  }
  
  #label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #hiddenCheckbox {
    display: none;
  }
  
  #hiddenCheckbox:checked + #showCheckbox {
    background: url("https://blog.kakaocdn.net/dn/p2kpN/btrL4lwWrqf/KqNevAyZKWsoCB5ijL9qcK/img.png") no-repeat;
    background-size: contain;
  }
  
  #showCheckbox {
    position: relative;
    top:-2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url("https://blog.kakaocdn.net/dn/bjVlZ3/btrL5bHw92G/bg8CBmi4x6zklkecdJ1dpk/img.png") no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: 1440px),(max-height: 789px) {
    .join-joinForm_form{
        background-color: white;
        padding: 0px 60px;
        border-width: 1px;
        width: 500px;
        height: 700px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .join-joinForm_h1{
        color: #291b0b;
        text-align: center;
        margin-top: 25px;
        margin-bottom: -10px;
        margin-left: 80px;
    }
    .join-joinForm_btn{
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color:#ece4db;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 40px;
        margin-bottom: 30px;
        transition: 0.5s;
    } 
    .join-span{
        font-size: 14px;
    }
    #showCheckbox {
        position: relative;
        top:-2px;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background: url("https://blog.kakaocdn.net/dn/bjVlZ3/btrL5bHw92G/bg8CBmi4x6zklkecdJ1dpk/img.png") no-repeat;
        background-size: contain;
      }
  }

  /* 모바일 */
  @media screen and (max-width: 420px){
    .join-joinForm_form{
        background-color: white;
        padding: 0px 0px;
        border-width: 1px;
        width: 350px;
        height: 550px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .join-app-joinForm {
        height: 70vh;
    }
    .join-joinForm_h1{
        color: #291b0b;
        text-align: center;
        margin-top: 25px;
        margin-left: 40px;
        font-size: 20px;
    }
    .join-joinForm_h1backimg{
        position: relative;
        left: -8px;
        width: 50px;
    }
    .join-joinForm_emailBox{
        display: flex;
        border-bottom: 1px solid #291b0b7a;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 10px;
        width: 250px;
        
    }
    .join-joinForm_emailimg_2{
        position: relative;
        top: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 10px;
        width: 15px;
        height: 15px;
    }
    .join-email_input{
        height: 40px;
        color: #291b0b;
        margin-top: 10px;
        padding: 15px;
        border: none;
        font-size: 13px;
    }
    .join-errorMessage{
        font-size: 12px;
    }
    .join-password_input{
        height: 40px;
        color: #291b0b;
        margin-top: 10px;
        padding: 15px;
        border: none;
        font-size: 13px;
    }
    .join-joinForm_emailimg_3{
        width: 15px;
        height: 15px;
    }
    .join-joinForm_emailimg_1{
        width: 15px;
        height: 15px;
    }
    .join-name_input{
        font-size: 13px;
    }
    .join-joinForm_emailBox_2{
        display: flex;
        border-bottom: 1px solid #291b0b7a;
        margin-bottom: 30px;
        width: 250px;
        margin-left: 50px;
    }
    .join-qustion{
        font-size: 13px;
    }
    #showCheckbox {
        position: relative;
        top:-6px;
        width: 13px;
        height: 13px;
        margin-left: 40px;
        background: url("https://blog.kakaocdn.net/dn/bjVlZ3/btrL5bHw92G/bg8CBmi4x6zklkecdJ1dpk/img.png") no-repeat;
        background-size: contain;
      }
      .join-span{
        margin-top: -10px;
        font-size: 12px;
      }
      .join-joinForm_btn{
        width: 70%;
        margin-left: 50px;
        height: 40px;
        padding: 10px;
        border: none;
        background-color:#ece4db;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 30px;
        transition: 0.5s;
        margin-top: 5px;
    } 
  }