.login-page{
    position: absolute;
    top: 85px;
    bottom: 0;
    width: 97.9vw;
    max-width: 100%;
    padding: 0 20px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); /*, url(./img/img1.daumcdn.jpg) ;*/
    background-size: cover;
  }
.login-border{
    width: 600px;
    background-color: #ffffff28;
    height: 700px;
    margin: auto;
    text-align: center;
  }
  .login-titleWrap{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 26px;
    color: rgb(253, 253, 253);
  }
  .login-contentWrap{
    margin: auto;
    flex: 1;
  }
  .login-inputTitle{
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .login-inputWrap{
    display: flex;
    width: 50%;
    max-width: 100%;
    padding: 16px;
    margin-top: 8px;
    margin: auto;
    border-bottom: 1px solid rgb(194, 194, 194);
  
  }
  /* 인풋창 클릭하면 태두리색 바뀜 */
  .login-inputWrap:focus-within{
    border: 1px solid rgb(233, 233, 233);
  }
  
  .login-input{
    margin: auto;
    width: 100%;
    outline:  none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    background-color: #0e0e0e00;
    color: white;
  }
  
  .login-input::placeholder{
    color: rgb(192, 192, 192);
  }
  
  .login-errorMessageWrap {
    margin-top: 8px;
    color: rgb(206, 0, 0);
    font-size: 15px;
  }
  
.login-createButton{
    background-color: rgba(172, 172, 172, 0.281); 
    width: 60%;
    height: 48px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}
.login-LoginGoogle{
    background-color: rgba(172, 172, 172, 0.281); 
    width: 60%;
    height: 48px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    margin: 20px;
}
  .login-LoginButton{
    width: 60%;
    height: 48px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 21, 21);
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .login-LoginButton:hover{
    background-color: rgb(48, 48, 48);
    color: white;
  }
  
  /* 버튼 비활성화일때 회색 */
  .login-LoginButton:disabled{
    background-color: rgba(172, 172, 172, 0.281);
    color: white;
  }


  .login-login-Logo{
    width: 200px;
    margin: auto;
  }
  