.mypage-wallpaper{
  margin: 130px 60px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1440px),(max-height: 789px) {
  .mypage-wallpaper{
    margin: 130px 50px;
  }
}