@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.navbar-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  font-weight: bold;
  background: #ece4db;
  width: 100%;
  height: 95px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navbar-box a {
  font-family: "Chosunilbo_myungjo";
  text-decoration: none;
  color: #291b0b;
  width: 200px !important;
  font-size: 20px;
}

.navbar-logo-div {
  position: absolute;
  left: 50px;
  margin-top: 10px;
}

.navbar-logo-div-img{
  margin-top: 3px;
  width: 130px;
}

.navbar-menu-big-div {
  display: flex;
  width: 45%;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-menu-big-div a {
  font-family: "Chosunilbo_myungjo";
  text-align: center;
  width: 120px;
  transition: 0.3s;
}

.navbar-menu-big-div a:hover {
  transition: 0.3s;
  color: #906b41;
}

.navbar-log-div {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
}

.navbar-log-div p {
  font-family: "Chosunilbo_myungjo";
  margin: 0;
  margin-right: 20px;
  font-size: 0.8em;
  color: #291b0b;
}

.navbar-log-div button {
  font-family: "Chosunilbo_myungjo";
  margin-top: 17px;
  margin-right: 50px;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #291b0b;
}

.navbar-log-div button:hover{
  color: #906b41;
}

@media screen and (max-width: 1440px),(max-height: 789px){
  .navbar-logo-div-img{
    width: 120px;
  }

  .navbar-box a{
    font-size: 18px;
  }

  .navbar-log-div button{
    font-size: 1em;
  }
}

/* 모바일 */
@media screen and (max-width: 420px){
  .navbar-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    font-weight: bold;
    background: #ece4db;
    width: 100%;
    height: 69px;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .navbar-logo-div-img{
    margin-top: 0px;
    margin-left: -38px;
    width: 59px;
  }

  .navbar-log-div{
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }

  .navbar-log-div button {
    font-family: "Chosunilbo_myungjo";
    margin-top: 3px;
    margin-right: 0px;
    margin-left: 3px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #291b0b;
    font-size: 10px;
  }

  .navbar-menu-big-div a {
    font-family: "Chosunilbo_myungjo";
    text-align: center;
    font-size: 10px;
    transition: 0.3s;
    margin-left: 7px;
  }

  .navbar-menu-big-div {
    display: flex;
    width: 68%;
    flex-direction: row;
    justify-content: space-around;
  }
}



/* 모달창  */
.swal2-title{
  font-family: "Noto Sans KR", sans-serif;
}
.swal2-popup{
  color: rgba(0, 0, 0, 0.699);
  background-color: #f1eeeb;
  /* width: 23%;
  height: 140px; */
}
.swal2-confirm{
  background-color: rgba(0, 0, 0, 0) !important;
  border: 2px solid rgba(0, 0, 0, 0.699) !important;
  color:rgba(0, 0, 0, 0.699) !important;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0) !important;
  width: 13%;
  height: 35px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.swal2-loader{
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgba(0, 0, 0, 0.699) !important;
}
