@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');

.portfolio-body {
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Urbanist', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
    background-color: rgb(255, 251, 243);
}


.portfolio-d-none{
    display: none;
}

.portfolio-container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    margin-top: 300px;
}

.portfolio-cards {
    display: flex;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 230px;
    margin-bottom: 20px;
    perspective: 1000px;
    bottom : 200px;
    transform-style: preserve-3d;
}

.portfolio-cards label {
    position: absolute;
    width: 1000px;
    left:1;
    right: 1;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
    bottom: 200;   
}

.portfolio-cards .portfolio-card{
    
    position: relative;
    height: 100%;
    border-radius: 5px;
    padding-bottom:35px;
    border: 1px solid #8d8b8009;
    background-color: rgb(255, 251, 243);
    height: 440px;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.portfolio-card .portfolio-image{
    display: flex;
    justify-content: space-between;
}

.portfolio-card .portfolio-image img{
    border-radius: 5px;
    margin-top: 23px;
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin-top: -5px;
    left: 5px;
    padding: 10px 5px 0px 5px;
}

.portfolio-card .portfolio-image .portfolio-dots{

    text-align: center;
}

.portfolio-card .portfolio-infos{

    display: block;
    text-align: end;
    
}

.portfolio-infos span{

    display: block;
}

 .portfolio-infos  .portfolio-name a{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color:#fff;
    letter-spacing: 8px;
    transition: all .6s ease;
    text-decoration-line: none;
    color: inherit; 
    top: 10px;
} 




{/** .portfolio-infos  .portfolio-name > a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    margin: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;

  }
  a:hover {
    background: #373a47;
    color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff; 
  }
  a:nth-child(1) {
    filter: hue-rotate(270deg);
  }
  a:nth-child(2) {
    filter: hue-rotate(110deg);
  }
  a span {
    position: absolute;
    display: block;
  }
  a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate1 2s linear infinite;
  }
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
  }
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  

*/}




.portfolio-card .socials{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.portfolio-socials i{
    font-size: 25px;
    transition: all .7s ease;
    color: var(--current-color2);
}





#s1:checked~.portfolio-cards #portfolio-slide6,
#s2:checked~.portfolio-cards #portfolio-slide7,
#s3:checked~.portfolio-cards #portfolio-slide8,
#s4:checked~.portfolio-cards #portfolio-slide9,
#s5:checked~.portfolio-cards #portfolio-slide1,
#s6:checked~.portfolio-cards #portfolio-slide2, 
#s7:checked~.portfolio-cards #portfolio-slide3,
#s8:checked~.portfolio-cards #portfolio-slide4,
#s9:checked~.portfolio-cards #portfolio-slide5
{
    transform: translate3d(0,-100%, -420px);
    opacity: 0.55;

}



#s1:checked~.portfolio-cards #portfolio-slide7,
#s2:checked~.portfolio-cards #portfolio-slide8,
#s3:checked~.portfolio-cards #portfolio-slide9,
#s4:checked~.portfolio-cards #portfolio-slide1,
#s5:checked~.portfolio-cards #portfolio-slide2,
#s6:checked~.portfolio-cards #portfolio-slide3, 
#s7:checked~.portfolio-cards #portfolio-slide4,
#s8:checked~.portfolio-cards #portfolio-slide5,
#s9:checked~.portfolio-cards #portfolio-slide6
{
    
    transform: translate3d(0,-75%, -320px);
    opacity: 0.65;

}


#s1:checked~.portfolio-cards #portfolio-slide8,
#s2:checked~.portfolio-cards #portfolio-slide9,
#s3:checked~.portfolio-cards #portfolio-slide1,
#s4:checked~.portfolio-cards #portfolio-slide2,          
#s5:checked~.portfolio-cards #portfolio-slide3,
#s6:checked~.portfolio-cards #portfolio-slide4, 
#s7:checked~.portfolio-cards #portfolio-slide5,
#s8:checked~.portfolio-cards #portfolio-slide6,
#s9:checked~.portfolio-cards #portfolio-slide7{
    
    transform: translate3d(0,-50%, -220px);
    opacity: 0.75;

}


#s1:checked~.portfolio-cards #portfolio-slide9,
#s2:checked~.portfolio-cards #portfolio-slide1,
#s3:checked~.portfolio-cards #portfolio-slide2,
#s4:checked~.portfolio-cards #portfolio-slide3,     
#s5:checked~.portfolio-cards #portfolio-slide4,
#s6:checked~.portfolio-cards #portfolio-slide5, 
#s7:checked~.portfolio-cards #portfolio-slide6,
#s8:checked~.portfolio-cards #portfolio-slide7,
#s9:checked~.portfolio-cards #portfolio-slide8
{
    
    transform: translate3d(0,-25%, -120px);
    opacity: 0.85;

}






#s1:checked~.portfolio-cards #portfolio-slide1,
#s2:checked~.portfolio-cards #portfolio-slide2,
#s3:checked~.portfolio-cards #portfolio-slide3,
#s4:checked~.portfolio-cards #portfolio-slide4,
#s5:checked~.portfolio-cards #portfolio-slide5,
#s6:checked~.portfolio-cards #portfolio-slide6, 
#s7:checked~.portfolio-cards #portfolio-slide7,
#s8:checked~.portfolio-cards #portfolio-slide8,
#s9:checked~.portfolio-cards #portfolio-slide9
{
    transform: translate3d(0, 0, 0);
    
}



#s1:checked~.portfolio-cards #portfolio-slide2,
#s2:checked~.portfolio-cards #portfolio-slide3,
#s3:checked~.portfolio-cards #portfolio-slide4,
#s4:checked~.portfolio-cards #portfolio-slide5,
#s5:checked~.portfolio-cards #portfolio-slide6,
#s6:checked~.portfolio-cards #portfolio-slide7, 
#s7:checked~.portfolio-cards #portfolio-slide8,
#s8:checked~.portfolio-cards #portfolio-slide9,
#s9:checked~.portfolio-cards #portfolio-slide1
{
    transform: translate3d(0,25%, -120px);
    opacity: 0.85;
}



#s1:checked~.portfolio-cards #portfolio-slide3,
#s2:checked~.portfolio-cards #portfolio-slide4,
#s3:checked~.portfolio-cards #portfolio-slide5,
#s4:checked~.portfolio-cards #portfolio-slide6,
#s5:checked~.portfolio-cards #portfolio-slide7,
#s6:checked~.portfolio-cards #portfolio-slide8, 
#s7:checked~.portfolio-cards #portfolio-slide9,
#s8:checked~.portfolio-cards #portfolio-slide1,
#s9:checked~.portfolio-cards #portfolio-slide2
{

    transform: translate3d(0,50%, -220px);
    opacity: 0.75;

}


#s1:checked~.portfolio-cards #portfolio-slide4,
#s2:checked~.portfolio-cards #portfolio-slide5,
#s3:checked~.portfolio-cards #portfolio-slide6,
#s4:checked~.portfolio-cards #portfolio-slide7,
#s5:checked~.portfolio-cards #portfolio-slide8,
#s6:checked~.portfolio-cards #portfolio-slide9,
#s7:checked~.portfolio-cards #portfolio-slide1,
#s8:checked~.portfolio-cards #portfolio-slide2,
#s9:checked~.portfolio-cards #portfolio-slide3
{

    transform: translate3d(0,75%, -320px);
    opacity: 0.65;

}



#s1:checked~.portfolio-cards #portfolio-slide5,
#s2:checked~.portfolio-cards #portfolio-slide6,
#s3:checked~.portfolio-cards #portfolio-slide7,
#s4:checked~.portfolio-cards #portfolio-slide8,
#s5:checked~.portfolio-cards #portfolio-slide9,
#s6:checked~.portfolio-cards #portfolio-slide1,
#s7:checked~.portfolio-cards #portfolio-slide2,
#s8:checked~.portfolio-cards #portfolio-slide3,
#s9:checked~.portfolio-cards #portfolio-slide4
{
    
    transform: translate3d(0, 100%, -420px);
    opacity: 0.55;
    
}