.Product-bestRe {
  background-color: #fff;
  height: 100vh;
}
.Product-reviewCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 90px;
}

.Product-card-img-top {
  height: 300px;
}

.Product-reCard1 {
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.Product-reCard2 {
  width: 400px;
  height: 700px;
  overflow: hidden;
}

.Product-reCard3 {
  width: 400px;
  height: 700px;
  overflow: hidden;
}

.bestReviews_card1 > img{
  width: 400px;
  height: 300px;
}

.bestReviews_card2 > img{
  width: 400px;
  height: 300px;
}
.bestReviews_card3 > img{
  width: 400px;
  height: 300px;
}

.bestRe_btn{
  
}