@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.top {
  height: 102vh;
}
/* ShopSlick 부분 */

.Slider {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.product-shopimg-logo {
  width: 100px;
  height: 100px;
}
.Product-slick-slide {
  width: 100%;
  height: 102vh;
  box-sizing: border-box;
}
.Product-shopimg img {
  display: absolute;
  margin: 0 auto 0 auto;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
} /*위 오른쪽 아래 왼쪽*/


.Product-shopimg h1{
  font-family: 'Chosunilbo_myungjo';
  position: absolute;
  text-combine-upright: all;
  top: 132px;
  left: 35px;
  width: 1px;
  height: 70px;
  color: white;
  text-align: right;

}





/* 모바일 */
@media screen and (max-width: 420px){

  .Product-shopimg h1{
    font-family: 'Chosunilbo_myungjo';
    position: absolute;
    text-combine-upright: all;
    font-size: x-large;
    top: 102px;
    left: 35px;
    width: 1px;
    height: 70px;
    color: white;
    text-align: right;
  }


  .Product-shopimg img {
    display: absolute;
    margin: 0 auto 0 auto;
    width: 100vw;
    height: 100vh;
  } /*위 오른쪽 아래 왼쪽*/
  
}