@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}





.Product-shopInfo {
  margin-top: -10px;
  margin-left: 50px;
} 

.Product-infoCards {
  width: 100%;
  margin-top: 150px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}

.Product-infoCard:nth-child(1) {
	grid-column: 1/2;
  grid-row:1/2
}

.Product-comment:nth-child(3){
  grid-column:2/4;
  grid-row:1/4;
}

.Product-video:nth-child(2){
  grid-column: 1/2;
  grid-row: 2/4;
}

video::-webkit-media-controls-fullscreen-button {
	display: none !important; }

video{
  margin-bottom: 10px;
}

.Product-comment {
  right: 17px;
  height: 605px;
  width: 903px;
  border : 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}

.Product-infoCard{
  border : 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 1px;
}

.Product-detail{
  margin-top: 25px;
  margin-left: 20px;
}

.Product-commentLogIn{
  margin-top: 25px;
  margin-left: 20px;
  
}
.Product-commentLogIn h2{
  font-family: "Chosunilbo_myungjo";
} 
.Product-commentLogIn p{
  font-family: "Chosunilbo_myungjo";
} 
.Product-commentLogOut{
  margin-top: 25px;
  margin-left: 20px;
}

.Product-commentLogOut > p{
  margin-left: 10px;
}

 .Product-video{
  border-radius: 5px;
  height: 400px;
} 

video{
  margin-top: -100px;
}


@media screen and (max-width: 1440px),(max-height: 789px) {
  .Product-infoCards{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 90px;
    margin-left: 80px;
    gap: 10px ;
  }

  .Product-infoCard{
    border: 1px solid blue;
    width: 500px;
    height: 220px;
  }

  .Prloduct-detai div{
    margin: 50px;
  }

  .Product-commentLogIn h2{
    font-size: 23px;
  }

  .Product-video video{
  width: 500px !important;
  margin-top: -150px;
  }

  .Product-comment{
    border: 1px solid blueviolet;
    height: 528px;
    width: 650px;
    
  }
}