.Product-shopInfo {
  margin-left: 50px;
} 

.Product-infoCards {
  width: 100%;
  margin-top: 150px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}

.Product-infoCard:nth-child(1) {
	grid-column: 1/2;
  grid-row:1/2
}

.Product-comment:nth-child(3){
  grid-column:2/4;
  grid-row:1/4;
}

.Product-video:nth-child(2){
  grid-column: 1/2;
  grid-row: 2/4;
}

video::-webkit-media-controls-fullscreen-button {
	display: none !important; }

video{
  margin-bottom: 10px;
}

.Product-comment {
  right: 17px;
  height: 605px;
  width: 903px;
  border : 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Product-infoCard{
  border : 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 1px;
}

.Product-detail{
  margin-top: 25px;
  margin-left: 20px;
}

.Product-commentLogIn{
  margin-top: 25px;
  margin-left: 20px;
  
}

.Product-commentLogOut{
  margin-top: 25px;
  margin-left: 20px;
}

.Product-commentLogOut > p{
  margin-left: 10px;
}

 .Product-video{
  border-radius: 5px;
  height: 400px;
} 

video{
  margin-top: -100px;
}
