@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar-track {
  background: rgb(241, 238, 235); /* 스크롤바의 색상 */
}

::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: rgb(230, 218, 204); /* 스크롤바의 색상 */
  border-radius: 10px;
}
.form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: none;
  border-radius: 0;
  resize: none;
  background-color: rgb(241, 238, 235);
  width: 55%;
}
.form-control::placeholder {
  text-align: center;
  font-family: 'Chosunilbo_myungjo';

}
.form-control:focus {
  outline:0ch;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 248, 255, 0);
  -webkit-box-shadow: 0px 0px 5px rgba(56, 169, 240, 0);
  -moz-box-shadow: 0px 0px 5px rgba(56, 169, 240, 0);
  box-shadow: 0px 0px 5px rgba(56, 169, 240, 0);
}

.question-text{
  margin-left: 30px;
  
}
.commentInsert p{
  font-family: 'Chosunilbo_myungjo';
}


