.productmaincomment-div{
  height: 400px;
  overflow: auto;
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

.productmaincomment-map-div{
  margin: 10px;
}

.productmaincomment-map-name{
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}

.productmaincomment-map-comment-div{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-top: 5px;
}

.productmaincomment-map-comment-div p{
  padding-top: 0px;
  width: 95%;
}

.productmaincomment-map-btn{
  border: none;
  background-color: transparent;
}

.productmaincomment-map-btn svg{
  color: rgba(0,0,0,0.4);
  margin-bottom: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1440px),(max-height: 789px){
  .productmaincomment-div{
    height: 310px;
  }

  .productmaincomment-map-name{
    font-size: 0.9em;
  }

  .productmaincomment-map-comment-div p{
    font-size: 0.9em;
  }

}