/* import 따로 */

/* ShopContainer 부분 */
/* .outer {
  background: #9cbebd;
} */

.top {
  height: 102vh;
}
/* ShopSlick 부분 */

.Slider {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.Product-slick-slide {
  width: 100%;
  height: 102vh;
  box-sizing: border-box;
}

.Product-shopimg img {
  margin: 0 auto 0 auto;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
} /*위 오른쪽 아래 왼쪽*/

.Product-logo {
  position: relative;
  left: 30%;
  color: white;
}
