.Product-shopInfo {
  background-color: rgb(241, 238, 235);
  height: 102vh;
  box-sizing: border-box;
}

.Product-infoCards {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px;
}

.Product-infoCard {
  width: 400px;
  height: 800px;
  margin-right: 50px;
  margin-top: 55px;
}

.Product-comment {
  background-color: rgb(241, 238, 235);
  width: 50%;
  bottom: 270px;
  height: 200px;
}

h2 {
  width: 330px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 > img {
  width: 35%;
}

/*
.infoCard{
  margin-right: auto;
}

/* .reCard2{
  float: none;
  margin: 0 auto;
} */

/* .comment{
  margin-left: auto;
} */
